boby{
    background-color: whitesmoke;
}
h1{
    color:rgb(56, 83, 174);
    text-shadow: rgb(82, 178, 226) 1px 0 10px;
}
h2 {
    color:rgb(244, 8, 201);
    text-shadow: rgb(226, 82, 200);
}
h3{
    color:rgb(11, 228, 18);
    text-shadow: rgb(15, 172, 94);
}
p{
    color: rgb(1, 15, 12);
}


a :link , a:visited {
     color:yellowgreen;
     text-decoration:underline;
}

