boby{
    background-color: whitesmoke;
}
h1{
    color:black;
    text-shadow: rgb(82, 178, 226) 1px 0 10px;
}
h2 {
    color:black;
    text-shadow: rgb(226, 82, 200);
}
h3{
    color:black;
    text-shadow: rgb(15, 172, 94);
}
p{
    color: rgb(1, 15, 12);
}


a :link , a:visited {
     color:yellowgreen;
     text-decoration: underline;
}

